body {
  background-image: url(images/generic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}

p {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
